In [1]:
#!pip install pyarrow
#!pip install fastparquet
#!pip install bertopic

In [7]:
import pandas as pd
import os
import pickle as pkl
from functools import partial
from tqdm import tqdm

In [8]:
tweets_path = "/mlodata1/prakhar/all_available_tweets"
tweets_piped_path = "/mlodata1/prakhar/all_available_tweets_piped"

In [16]:
relevant_topic = 71
topic_dfs = {relevant_topic: []}
cnt = 0
for i, file in tqdm(enumerate(os.listdir(tweets_piped_path))):
    if i == 1:
        break
    tweets = pd.read_parquet(os.path.join(tweets_path, file))
    tweets_piped = pd.read_parquet(os.path.join(tweets_piped_path, file))

1it [00:00, 81.98it/s]

In [22]:
tweets

,id,text,in_reply_to_status_id,in_reply_to_user_id,quoted_user_id,quoted_status_id,retweeted_user_id,retweeted_status_id,created_at,entities.user_mentions,...,contains_keywords,longitude,latitude,country_code,region,subregion,geo_type,num_quotes,num_replies,num_retweets
0,1178825056782344192,Dominic & Rey backstage preparing to get destr...,None,None,None,None,None,None,2019-10-01 00:12:49+00:00,None,...,False,-75.499900,43.000350,US,North America,Northern America,3,1,0,0
1,1178827335069523969,James Harden promised he‚Äôd be debuting a new m...,None,None,None,None,None,None,2019-10-01 00:21:52+00:00,None,...,False,-75.499900,43.000350,US,North America,Northern America,3,0,0,0
2,1178832448312025089,"Look let's be honest, @realDonaldTrump's Twitt...",None,None,None,None,None,None,2019-10-01 00:42:11+00:00,['25073877'],...,False,-119.751260,37.250220,US,North America,Northern America,3,0,0,0
3,1178836184660938753,We have a packed #CGSeoul conference! üòç So man...,None,None,None,None,None,None,2019-10-01 00:57:02+00:00,['45719896'],...,False,NaN,NaN,None,None,None,0,1,0,0
4,1178836409643393024,Buddy I hate to tell you but there‚Äôs no way th...,None,None,None,None,None,None,2019-10-01 00:57:56+00:00,None,...,False,-72.749830,44.000340,US,North America,Northern America,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,1179171592892538880,When your side pieces interact with each other...,None,None,None,None,None,None,2019-10-01 23:09:50+00:00,None,...,False,-74.005970,40.714270,US,North America,Northern America,3,1,0,0
90,1179173513900392449,idk about y‚Äôall but @AdventureDub KILLEDT IT W...,None,None,None,None,None,None,2019-10-01 23:17:28+00:00,['256542586'],...,False,NaN,NaN,None,None,None,0,1,0,0
91,1179174538073886720,Great seeing my old friend and one of the best...,None,None,None,None,None,None,2019-10-01 23:21:32+00:00,['248900032'],...,False,-118.399639,34.083007,US,North America,Northern America,2,1,0,0
92,1179178741358047239,French comedian #MarieSinfiltre was was mad f...,None,None,None,None,None,None,2019-10-01 23:38:14+00:00,None,...,False,-2.695310,54.758440,GB,Europe & Central Asia,Northern Europe,3,1,0,0
93,1179180952167145472,"Farmer, fisherfolk, and IP leaders from Casigu...",None,None,None,None,None,None,2019-10-01 23:47:01+00:00,None,...,False,NaN,NaN,None,None,None,0,1,0,0

In [18]:
tweets_piped

,id,country_code,lang,hashtags,cleaned_text
0,1178825056782344192,US,en,,Dominic & Rey backstage preparing to get destr...
1,1178827335069523969,US,en,,James Harden promised he‚Äôd be debuting a new m...
2,1178832448312025089,US,en,,"Look let's be honest, user_placeholder Twitter..."
3,1178836184660938753,None,en,"#cgseoul,#bitcoinsv,#bitcoingenesis",We have a packed conference! üòç So many people ...
4,1178836409643393024,US,en,,Buddy I hate to tell you but there‚Äôs no way th...
...,...,...,...,...,...
89,1179171592892538880,US,en,,When your side pieces interact with each other...
90,1179173513900392449,None,en,,idk about y‚Äôall but user_placeholder KILLEDT I...
91,1179174538073886720,US,en,,Great seeing my old friend and one of the best...
92,1179178741358047239,GB,en,"#mariesinfiltre,#chanel,#model,#walkthisway,#f...",French comedian was was mad funny. Just goin...
93,1179180952167145472,None,en,,"Farmer, fisherfolk, and IP leaders from Casigu..."